.Body{
	background-color: #b3f0ff;
	display: block;
	height: 100%;
	
}
.Page{
	position: relative;
	top: 40px;
}



	
}

.example4 .navbar-brand>img {
  padding: 1px 1px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 4px;
  width: auto;
}



