.Body{
	background-color: #b3f0ff;
	display: block;
	
}
.Page{
	position: relative;
	top: 40px;
}
.container-fluid{
	background-color: rgba(119, 158, 203,0.6);
	margin:0px;
	border: none;
}
.navtop{
	}

.navbar-inverse{

	background-color: transparent;
	border: none;
	background-image: none;
	box-shadow: 10px 10px 5px  rgba(0,0,0,0.2);
	
}





